.section-item-spacing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $vertical-spacer;
}

.item-spacing > * + * {
  margin-top: $vertical-spacer;
}

.text-center {
  text-align: center;
}

.text-white {
  color: $color-neutral-100;
}
